# Amiga text files use ISO latin1 encoding and Unix newlines.

*.c text working-tree-encoding=ISO-8859-1 eol=lf
*.h text working-tree-encoding=ISO-8859-1 eol=lf
*.a text working-tree-encoding=ISO-8859-1 eol=lf
*.doc text working-tree-encoding=ISO-8859-1 eol=lf
*.changes text working-tree-encoding=ISO-8859-1 eol=lf
